<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Any New Likes Today?</h1>
            <div>
                <a class="btn btn-primary btn-lg" href="/likes/new">Add New Likes</a>
            </div>
            <p>
                <form action="/likes" method="GET" class="form-inline">
                    <div class="form-group">
                    <input type="text" name="search" placeholder="anything in particular?" class="form-control input-md">
                    <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </header>

        <div class="container text-center nothing">
            <p><%= noMatch %></p>
        </div>

    <div class="row">
        <% likes.forEach( (like) => {%>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="<%= like.image%>" >
                <div class="caption"><h4><%= like.name %></h4></div>
                <div class="dock">
                    <div class="pull-right"> 
                        <div class="li">
                            <span class="glyphicon glyphicon-heart"></span> 
                            <%= like.like %> 
                        </div>
                    </div>
                    <a class="btn btn-info" href="/likes/<%= like._id %>">more info</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
